<?xml version='1.0' ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <?define ProductName = 'ReconstructMe'?>
  <?define UpgradeCode = 'd5ce32f5-4503-41e0-820a-0668270c8aab'?>
  <?define ManufacturerName = 'Profactor GmbH' ?>
  <?define ProductVersion = '@RECONSTRUCTMEQT_VERSION_MAJOR@.@RECONSTRUCTMEQT_VERSION_MINOR@.@RECONSTRUCTMEQT_VERSION_BUILD@'?>

  <Product Name=			'$(var.ProductName) $(var.ProductVersion)'
			 Id= '*'
			 UpgradeCode=	'$(var.UpgradeCode)'
			 Language=		'1033'
			 Codepage=		'1252'
			 Version=		'$(var.ProductVersion)'
			 Manufacturer=	'$(var.ManufacturerName)'>

    <MajorUpgrade DowngradeErrorMessage="A later version of $(var.ProductName) is already installed. Setup will now exit." />

    <Package Id='*' Keywords='Installer' Description="ReconstructMe Installer - $(var.ProductVersion)"
      Comments='Add your comments here' Manufacturer='$(var.ManufacturerName)'
      InstallerVersion='300' Languages='1033' Compressed='yes' />

    <Media Id='1' Cabinet='ReconstructMeQt.cab' EmbedCab='yes'/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Merge Id="VCRedist" SourceFile="@CMAKE_CURRENT_SOURCE_DIR@/Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0"/>
      <Merge Id="OpenMP" SourceFile="@CMAKE_CURRENT_SOURCE_DIR@/Microsoft_VC100_OpenMP_x86.msm" DiskId="1" Language="0"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='ReconstructMe'>
          <Directory Id='cfg' Name='cfg' />
          <Directory Id='IMAGEFORMATSDIR' Name='imageformats' />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ReconstructMe" />
      </Directory>
      <Directory Id="PersonalFolder">
        <Directory Id="DocumentsFolder" Name="ReconstructMe">
          <Component Id="DocumentsFolder" Guid="3B6500C6-4582-4465-8ACF-8BC9C53938DF" SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
            <CreateFolder/>
            <RemoveFolder Id="DocumentsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Profactor\ReconstructMe\Documents" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
          Name="ReconstructMe"
          Description="Start ReconstructMe"
          Target="[INSTALLDIR]\ReconstructMeQt.exe"
          WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="DirShortcut"
          Name="Open configuration folder"
          Description="Opens the folder containing configuration files."
          Target="[cfg]"
          WorkingDirectory="cfg" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Profactor\ReconstructMe\$(var.ProductVersion)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="ReconstructMeQt" Guid="53236194-b9c0-4bc7-bcc5-461e5ca5015a">
        <File KeyPath="yes" Source="@RECONSTRUCTMEQT_EXE@">
          <Shortcut Advertise="no"
                  Id="ReconstructMeQtShortcut"
                  Directory="DesktopFolder"
                  Name="ReconstructMe"
                  WorkingDirectory="INSTALLDIR"
                  Description="Starts ReconstructMe"
                  Icon="QtIcon.ico">

            <Icon Id="QtIcon.ico" SourceFile="@PROJECT_SOURCE_DIR@/rc/icon.ico" />
          </Shortcut>
        </File>
      </Component>
    </DirectoryRef>


    <Feature Id='Complete' Title='ReconstructMe' Description='ReconstructMe Complete' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>

      <Feature Id='MainProgram' Title='ReconstructMe' Description='ReconstructMe fronted.' Level='1'>
        <ComponentGroupRef Id='ReconstructMeSDKRuntimeFiles' />
        <ComponentGroupRef Id='ReconstructMeSDKConfigFiles' />
        <ComponentGroupRef Id='QtRuntimeFiles' />
        <ComponentRef Id='ApplicationShortcut' />
        <ComponentRef Id='ReconstructMeQt' />
        <ComponentRef Id='DocumentsFolder' />
        <ComponentGroupRef Id='ReconstructMeQtRuntimeFiles' />
        <MergeRef Id="VCRedist" />
        <MergeRef Id="OpenMP" />
      </Feature>

    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="MSIFASTINSTALL" Value="7" />

    <!-- Set the license text -->
    <WixVariable Id="WixUILicenseRtf" Value="@PROJECT_SOURCE_DIR@/etc/wix/License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="@PROJECT_SOURCE_DIR@/etc/wix/images/Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="@PROJECT_SOURCE_DIR@/etc/wix/images/Welcome.bmp" />

  </Product>
</Wix>