<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="ReconstructMeQt" Guid="53236194-b9c0-4bc7-bcc5-461e5ca5015a">
        <File KeyPath="yes" Source="@RECONSTRUCTMEQT_EXE@">
          <Shortcut Advertise="yes"
                    Id="ReconstructMeQtShortcut"
                    Directory="DesktopFolder"
                    Name="ReconstructMeQt"
                    WorkingDirectory="INSTALLDIR"
                    Description="Starts ReconstructMeQt"
                    Icon="QtIcon.ico">
            
            <Icon Id="QtIcon.ico" SourceFile="@PROJECT_SOURCE_DIR@/rc/icon.ico" />
          </Shortcut>
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ReconstructMeQtRuntimeFiles">
      <ComponentRef Id="ReconstructMeQt" />
    </ComponentGroup>
  </Fragment>
</Wix>