<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
    <DirectoryRef Id="INSTALLDIR">
	<Component Id="OsgQt" Guid="D200E371-8648-4B88-91EC-3CFA827D43DB">
		<File KeyPath="yes" Source="@OSG_BINARY_DIR@/osg80-osgQt.dll" />
	</Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ReconstructMeQtRuntimeFiles">
	<ComponentRef Id="OsgQt" />
    </ComponentGroup>
  </Fragment>
</Wix>